<!DOCTYPE html>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">CGV Cinema management</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i><%=user.fullname%></a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/admin"><i class="glyphicon glyphicon-home"></i> Trang chủ</a>
                        </li>
                         <li>
                            <a href="/quan-ly-phim"><i class="glyphicon glyphicon-film"></i> Quản lý phim</a>
                        </li>
                        <li>
                            <a href="/quan-ly-khach-hang"><i class="glyphicon glyphicon-user"></i> Quản lý người dùng</a>
                        </li>
                        <li>
                            <a href="/quan-ly-gia-ve"><i class="fa fa-money"></i> Quản lý giá vé</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-calendar"></i> Quản lý lịch chiếu<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/quan-ly-tao-lich-chieu">Tạo lịch chiếu</a>
                                </li>
                                <li>
                                    <a href="/danh-sach-lich-chieu">Danh sách lịch chiếu</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                         <li>
                            <a href="/quan-ly-in-ve"><i class="fa fa-print"></i> Quản lý in vé</a>
                        </li>
                        <li>
                            <a href="/thong-ke-bao-cao  "><i class="fa fa-print"></i> Thống kê vé bán được</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

    </div>