
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/image/icon.ico" type="image/x-icon" />

    <title>Hệ thống quản lý rạp chiếu phim</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

     <!-- DataTables CSS -->
    <link href="vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
            var socket = io.connect('/');
            socket.on('createmovie',function(){
                alert("Thêm phim thành công");
            });
            socket.on('createmoviefail',function(){
                alert("Thêm phim Không thành công");
            });
            socket.on('updatemovie',function(){
                alert("Cập nhật phim thành công");
            });
            socket.on('updatemoviefail',function(){
                alert("Cập nhật phim thành công");
            });
            socket.on('updateticketprice',function(){
                alert("Cập nhật giá thành công");
            });
            socket.on('updateticketpricefail',function(){
                alert("Cập nhật giá thất bại");
            });
            socket.on('createschedule',function(){
                alert("Tạo lịch chiếu thành công");
            });
            socket.on('createschedulefail',function(){
                alert("Tạo lịch chiếu thất bại");
            });
            socket.on('updateschedule',function(){
                alert("Cập nhật lịch chiếu thành công");
            });
            socket.on('updateschedulefail',function(){
                alert("Cập nhật lịch chiếu thất bại");
            });
            socket.on('createticketinfo',function(){
                alert("Đặt vé thành công");
            });
            socket.on('createticketinfofail',function(){
                alert("Đặt vé thất bại");
            });
            socket.on('updatestatus',function(){
                alert("In vé thành công");
            });
            socket.on('updatestatusfail',function(){
                alert("In vé thất bại");
            });
            socket.on('schedulefail',function(){
                alert("Lịch chiếu đã tồn tại");
            });
            socket.on('chairfail',function(){
                alert("Ghế đã được đặt");
            });
    </script>
</head>

<body>